In [2]:
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [3]:
dat = sm.datasets.get_rdataset('Guerry', 'HistData').data

In [4]:
result = smf.ols('Lottery ~ Literacy + np.log(Pop1831)', data=dat).fit()

In [5]:
dat

    dept Region    Department  Crime_pers  ...  Prostitutes  Distance  Area  Pop1831
0      1      E           Ain       28870  ...           13   218.372  5762   346.03
1      2      N         Aisne       26226  ...          327    65.945  7369   513.00
2      3      C        Allier       26747  ...           34   161.927  7340   298.26
3      4      E  Basses-Alpes       12935  ...            2   351.399  6925   155.90
4      5      E  Hautes-Alpes       17488  ...            1   320.280  5549   129.10
..   ...    ...           ...         ...  ...          ...       ...   ...      ...
81    86      W        Vienne       15010  ...           18   170.523  6990   282.73
82    87      C  Haute-Vienne       16256  ...            7   198.874  5520   285.13
83    88      E        Vosges       18835  ...           43   174.477  5874   397.99
84    89      C         Yonne       18006  ...          272    81.797  7427   352.49
85   200    NaN         Corse        2199  ...            1   539.213  8680   195.41

[86 rows x 23 columns]

In [8]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.348
Model:                            OLS   Adj. R-squared:                  0.333
Method:                 Least Squares   F-statistic:                     22.20
Date:                Fri, 16 Oct 2020   Prob (F-statistic):           1.90e-08
Time:                        16:32:30   Log-Likelihood:                -379.82
No. Observations:                  86   AIC:                             765.6
Df Residuals:                      83   BIC:                             773.0
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept         246.4341     35.233      6.995      0.000     176.358     316.510
Literacy           -0.4889      0.128     -3.832      0.000      -0.743      -0.235
np.log(Pop1831)   -31.3114      5.977     -5.239      0.000     -43.199     -19.424
==============================================================================
Omnibus:                        3.713   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.156   Jarque-Bera (JB):                3.394
Skew:                          -0.487   Prob(JB):                        0.183
Kurtosis:                       3.003   Cond. No.                         702.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Next

In [9]:
nobs = 100
X = np.random.random((nobs, 2))
print(X)

X = sm.add_constant(X)
print(X)

betta = [1, 1, 5]
e = np.random.random(nobs)

[[0.03845686 0.35769796]
 [0.56708577 0.01803142]
 [0.52065327 0.25209648]
 [0.49223217 0.00821203]
 [0.84491343 0.06822255]
 [0.012497   0.83822832]
 [0.83214924 0.89219209]
 [0.11808697 0.58535471]
 [0.20786057 0.05922839]
 [0.19450097 0.0991915 ]
 [0.28806905 0.43094122]
 [0.34845718 0.62308073]
 [0.68834091 0.53617453]
 [0.50830006 0.56947772]
 [0.92655727 0.56792911]
 [0.4312561  0.26705555]
 [0.79278728 0.14334057]
 [0.33517955 0.23870124]
 [0.47843    0.88435494]
 [0.34186942 0.15887745]
 [0.22973282 0.67015725]
 [0.22341047 0.49691369]
 [0.08601934 0.82418622]
 [0.2585996  0.57079448]
 [0.96021477 0.28852278]
 [0.1110165  0.25150984]
 [0.08778407 0.38742554]
 [0.79562859 0.43986554]
 [0.44696478 0.27439931]
 [0.76166568 0.04722386]
 [0.16014927 0.22585904]
 [0.64544111 0.97663032]
 [0.42686604 0.54420293]
 [0.2932502  0.81870832]
 [0.58006988 0.63225799]
 [0.19482101 0.01088388]
 [0.74058334 0.7326446 ]
 [0.4744825  0.4692908 ]
 [0.52534499 0.74356021]
 [0.43409516 0.83867676]
 [0.18774149 0.57140114]
 [0.18434594 0.05744113]
 [0.98387089 0.58730606]
 [0.68455921 0.75500218]
 [0.58747839 0.39987791]
 [0.09042795 0.80825022]
 [0.09767677 0.08574597]
 [0.94233429 0.79799687]
 [0.45796551 0.58081421]
 [0.82453632 0.12392377]
 [0.57693147 0.67937273]
 [0.41560713 0.35371878]
 [0.03688598 0.14794974]
 [0.44249748 0.32536582]
 [0.41776519 0.68507518]
 [0.58555239 0.80350224]
 [0.71776965 0.22507073]
 [0.77521108 0.45767571]
 [0.4767367  0.51519498]
 [0.05719593 0.80598657]
 [0.72967056 0.08605052]
 [0.95519175 0.24945076]
 [0.77495993 0.59743294]
 [0.56586493 0.98745222]
 [0.99563131 0.61885798]
 [0.40184482 0.79303186]
 [0.72127228 0.93548882]
 [0.15046239 0.53646979]
 [0.1025364  0.2201665 ]
 [0.69198241 0.30983665]
 [0.79905236 0.93189083]
 [0.59952926 0.83260568]
 [0.10346923 0.79732189]
 [0.59485416 0.12194012]
 [0.07829358 0.68337388]
 [0.96650249 0.21300931]
 [0.996094   0.32466266]
 [0.60656166 0.37160486]
 [0.37901818 0.02498732]
 [0.01298482 0.00780814]
 [0.47563446 0.16790015]
 [0.06192312 0.55536495]
 [0.15110866 0.57613639]
 [0.78713713 0.86178535]
 [0.02856775 0.56580294]
 [0.83664154 0.58210458]
 [0.88848704 0.09567015]
 [0.41263476 0.11308115]
 [0.07630522 0.10217548]
 [0.35747089 0.84511931]
 [0.87677262 0.4606448 ]
 [0.77969619 0.48602104]
 [0.82999245 0.87680832]
 [0.37618099 0.53961304]
 [0.74015604 0.07563376]
 [0.82023423 0.00935488]
 [0.97050877 0.82796579]
 [0.35437018 0.89690577]
 [0.38017341 0.55856689]
 [0.44939432 0.16614033]]
[[1.         0.03845686 0.35769796]
 [1.         0.56708577 0.01803142]
 [1.         0.52065327 0.25209648]
 [1.         0.49223217 0.00821203]
 [1.         0.84491343 0.06822255]
 [1.         0.012497   0.83822832]
 [1.         0.83214924 0.89219209]
 [1.         0.11808697 0.58535471]
 [1.         0.20786057 0.05922839]
 [1.         0.19450097 0.0991915 ]
 [1.         0.28806905 0.43094122]
 [1.         0.34845718 0.62308073]
 [1.         0.68834091 0.53617453]
 [1.         0.50830006 0.56947772]
 [1.         0.92655727 0.56792911]
 [1.         0.4312561  0.26705555]
 [1.         0.79278728 0.14334057]
 [1.         0.33517955 0.23870124]
 [1.         0.47843    0.88435494]
 [1.         0.34186942 0.15887745]
 [1.         0.22973282 0.67015725]
 [1.         0.22341047 0.49691369]
 [1.         0.08601934 0.82418622]
 [1.         0.2585996  0.57079448]
 [1.         0.96021477 0.28852278]
 [1.         0.1110165  0.25150984]
 [1.         0.08778407 0.38742554]
 [1.         0.79562859 0.43986554]
 [1.         0.44696478 0.27439931]
 [1.         0.76166568 0.04722386]
 [1.         0.16014927 0.22585904]
 [1.         0.64544111 0.97663032]
 [1.         0.42686604 0.54420293]
 [1.         0.2932502  0.81870832]
 [1.         0.58006988 0.63225799]
 [1.         0.19482101 0.01088388]
 [1.         0.74058334 0.7326446 ]
 [1.         0.4744825  0.4692908 ]
 [1.         0.52534499 0.74356021]
 [1.         0.43409516 0.83867676]
 [1.         0.18774149 0.57140114]
 [1.         0.18434594 0.05744113]
 [1.         0.98387089 0.58730606]
 [1.         0.68455921 0.75500218]
 [1.         0.58747839 0.39987791]
 [1.         0.09042795 0.80825022]
 [1.         0.09767677 0.08574597]
 [1.         0.94233429 0.79799687]
 [1.         0.45796551 0.58081421]
 [1.         0.82453632 0.12392377]
 [1.         0.57693147 0.67937273]
 [1.         0.41560713 0.35371878]
 [1.         0.03688598 0.14794974]
 [1.         0.44249748 0.32536582]
 [1.         0.41776519 0.68507518]
 [1.         0.58555239 0.80350224]
 [1.         0.71776965 0.22507073]
 [1.         0.77521108 0.45767571]
 [1.         0.4767367  0.51519498]
 [1.         0.05719593 0.80598657]
 [1.         0.72967056 0.08605052]
 [1.         0.95519175 0.24945076]
 [1.         0.77495993 0.59743294]
 [1.         0.56586493 0.98745222]
 [1.         0.99563131 0.61885798]
 [1.         0.40184482 0.79303186]
 [1.         0.72127228 0.93548882]
 [1.         0.15046239 0.53646979]
 [1.         0.1025364  0.2201665 ]
 [1.         0.69198241 0.30983665]
 [1.         0.79905236 0.93189083]
 [1.         0.59952926 0.83260568]
 [1.         0.10346923 0.79732189]
 [1.         0.59485416 0.12194012]
 [1.         0.07829358 0.68337388]
 [1.         0.96650249 0.21300931]
 [1.         0.996094   0.32466266]
 [1.         0.60656166 0.37160486]
 [1.         0.37901818 0.02498732]
 [1.         0.01298482 0.00780814]
 [1.         0.47563446 0.16790015]
 [1.         0.06192312 0.55536495]
 [1.         0.15110866 0.57613639]
 [1.         0.78713713 0.86178535]
 [1.         0.02856775 0.56580294]
 [1.         0.83664154 0.58210458]
 [1.         0.88848704 0.09567015]
 [1.         0.41263476 0.11308115]
 [1.         0.07630522 0.10217548]
 [1.         0.35747089 0.84511931]
 [1.         0.87677262 0.4606448 ]
 [1.         0.77969619 0.48602104]
 [1.         0.82999245 0.87680832]
 [1.         0.37618099 0.53961304]
 [1.         0.74015604 0.07563376]
 [1.         0.82023423 0.00935488]
 [1.         0.97050877 0.82796579]
 [1.         0.35437018 0.89690577]
 [1.         0.38017341 0.55856689]
 [1.         0.44939432 0.16614033]]

In [10]:
y = np.dot(X, betta) + e

In [11]:
results = sm.OLS(y, X).fit()

In [12]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.965
Model:                            OLS   Adj. R-squared:                  0.965
Method:                 Least Squares   F-statistic:                     1352.
Date:                Fri, 16 Oct 2020   Prob (F-statistic):           1.46e-71
Time:                        16:36:39   Log-Likelihood:                -14.248
No. Observations:                 100   AIC:                             34.50
Df Residuals:                      97   BIC:                             42.31
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          1.4857      0.070     21.084      0.000       1.346       1.626
x1             0.9836      0.097     10.113      0.000       0.791       1.177
x2             4.9589      0.098     50.529      0.000       4.764       5.154
==============================================================================
Omnibus:                       23.666   Durbin-Watson:                   1.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                5.308
Skew:                           0.063   Prob(JB):                       0.0704
Kurtosis:                       1.878   Cond. No.                         5.01
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
results.params

array([1.48567062, 0.98363977, 4.95885068])

# Next

In [13]:
import pandas as pd
from patsy import dmatrices

In [20]:
vars_ = ['Department', 'Lottery', 'Literacy', 'Wealth', 'Region']
df = dat[vars_]

In [21]:
df[-5:]

      Department  Lottery  Literacy  Wealth Region
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C
85         Corse       83        49      37    NaN

In [22]:
df = df.dropna()
df[-5:]

      Department  Lottery  Literacy  Wealth Region
80        Vendee       68        28      56      W
81        Vienne       40        25      68      W
82  Haute-Vienne       55        13      67      C
83        Vosges       14        62      82      E
84         Yonne       51        47      30      C

In [23]:
y, X = dmatrices('Lottery ~ Literacy + Wealth + Region', data=df, return_type='dataframe')

In [24]:
y[:3]

   Lottery
0     41.0
1     38.0
2     66.0

In [25]:
X[:3]

   Intercept  Region[T.E]  Region[T.N]  ...  Region[T.W]  Literacy  Wealth
0        1.0          1.0          0.0  ...          0.0      37.0    73.0
1        1.0          0.0          1.0  ...          0.0      51.0    22.0
2        1.0          0.0          0.0  ...          0.0      13.0    61.0

[3 rows x 7 columns]